<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="">

  <assemblies>
    <add assembly="SideBySideEditing" />
  </assemblies>

  <clientModule initializer="side-by-side-editing/initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="side-by-side-editing" path="ClientResources" />
    </paths>
 </dojo>
</module>
